@import url(./reset.css);

* {
    font-family: 'Roboto', sans-serif;
    color: lightslategray;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(234, 230, 230);
}

.container {
    width: 90%;
}

.lds-ring.show {
    display: inline-block;
}

.lds-ring {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 8px;
    border: 4px solid #0697f1;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0697f1 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    gap: 10px;
    background-color: #fff;
    font-size: 12px;
    cursor: pointer;
}

#listingTable {
   padding: 0;
   min-height: 500px;
}

img {
    border-radius: 50%;
}

.load-section {
    position: relative;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-name {
    display: flex;
    align-items: center;
    gap: 5px;

}

.btn-block {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* pagination */


